header {
  display: flex;
  justify-content: center;
}

button img {
  width: 60px;
}
.headerDiv {
  background-color: #fbf7e3;
  display: flex;

  border-radius: 70px;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.navBtn {
  border-radius: 80px;
  background-color: #f3df85;
  color: #612406;
  border: none;
  padding: 1.25em;
  margin-right: 1em;
  margin-left: 1em;
  flex-grow: 0.3;
}
.navBtn :nth-child(3) {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}
#cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
